body {
	background: gray;
}

#score {
	width: 20%;
	background: white;
	padding: 20px;
	box-shadow: 0px rgba(0, 0, 0, 0.5);
	position: sticky;
}
#h1{
color:black;	
}

#game-background {
	color: #800040;
	height: auto;
	width: 70%;
	padding: 20px 20px;
}

#card-div {
	color: #c0c0c0; position : relative;
	height: auto;
	width: 100%;
	position: relative;
}

.card {
	height: 200px;
	width: 150px;
	border-radius: 3px;
	margin: 0px 20px 20px 0px;
	text-align: center;
	line-height: 150px;
	position: relative;
	background: white;
}
/* Karte umdrehen oder simple background=font color */
.hidden {

}
/* alles leicht transparent vllt. simple background=green */
.taken {
	background: #326145;
	border: 2px solid rgba(0, 0, 0, 0.4);
}